[Unit]
Description=The Soh-Router service
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple

ExecStart=/usr/local/bin/soh-router
SuccessExitStatus=2
Restart=always
RestartSec=1s
StartLimitBurst=0

[Install]
WantedBy=multi-user.target
